{% block body %}
<h2>{{title}}</h2>

{% for message in app.flashes('notice') %}
<div class="flash-notice">
    {{ message }}
</div>
{% endfor %}

<ul>
    {% for el in object %}
        <li>
            {{ el.name }} <a href="{{path('delete_car',{id:el.id})}}">Delete</a>
        </li>



    {% endfor %}
</ul>

{% if paginate %}
    {{ knp_pagination_render(object) }}
{% endif %}

{% endblock %}