{% block body %}
<h2>{{title}}</h2>

<a href="{{path('add_car')}}">Dodaj</a>
<a href="{{path('form')}}">Form</a>

{% for message in app.flashes('notice') %}
<div class="flash-notice">
    {{ message }}
</div>
{% endfor %}

<ul>
    {% for el in object %}
        <li>
            {{ el.name }} <a href="{{path('car_show',{id:el.id})}}">Show</a> <a href="{{path('delete_car',{id:el.id})}}">Delete</a> <a href="{{path('api_car',{id:el.id})}}">API</a>
        </li>



    {% endfor %}
</ul>

{% if paginate %}
    {{ knp_pagination_render(object) }}
{% endif %}

{% endblock %}

<a href="{{path('cars_list')}}">Cars</a>
<a href="{{path('get_cars')}}">API</a>